*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
    /* background-color: #EDBFFF; */
}

.main{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
body {
    background-image: url("/static/images/sebastian-svenson-d2w-_1LJioQ-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}
.bgvid{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden; 
}
video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    filter: blur(2px);
    border: none;
}
.result{
    height: 25vh;
    /* background-color: blue; */
    text-align: center;
    
}
.main h1{
      font-size: 90px;
      font-weight: 600;
      background: linear-gradient(91deg, #FF9C24 30%, #FAFC6D 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px black;
}

.main h2{
    font-size: 70px;
      font-weight: 600;
      background: linear-gradient(91deg, #FF9C24 30%, #FAFC6D 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px black;
}

